{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des categories</h1>
    <ul>
    {% for categorie in categories %}
        
    <li>
        
        <a href="{{path('category_show',{categoryName:categorie.name})}}" class="btn btn-primary m-2">{{categorie.name}}</a>
    </li>
    {% endfor %}
    
    </ul>
    {% for category , messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{category}}">
            {{message}}
            </div>
        {% endfor %}
    {% endfor %}

</div>
{% endblock %}
